.bootstart-admin-container{
	float: unset;
	margin: 0px auto;
	margin-right: 12px;
	padding: 0px;
}

.bootstart-admin-header{
	font-size: 1.8em;
	text-align: center;
}

.bootstart-admin-header h2{
	color: #43EBCC;
}

.bootstart-admin-navigation{
	text-align: center;
}

.bootstart-admin-navigation ul li{
	display: inline-block;
	font-size: 1.2em;
	margin: 5px;
	padding:10px;
}

.bootstart-admin-navigation ul li:hover{
	border-bottom: 2px solid #43EBCC;
}

.bootstart-admin-active-page{
	border-bottom: 2px solid #43EBCC;
}

.bootstart-admin-navigation ul li a{
	text-decoration: none;
}

.bootstart-admin-footer{
	text-align: center;
	font-size: 130%;
	padding: 5px;
	margin: 5px;
}

.bootstart-admin-content{
	margin: 10px;
	padding: 10px;
}

.bootstart-admin-content input{
	display: inline;
}

.bootstart-admin-content label{
	font-size: 120%;
	font-weight: bold;
	margin-right: 10px;
}

.form-blokc{
	display: block;
	margin: 10px;
	padding: 10px;
}

.form-blokc small{
	color: gray;
}

.bootstart-admin-content input[type='submit']{
	padding: 10px;
	border-radius: 10px;
	font-size: 120%;
	background-color: #31A6CB;
	color: white;
	font-weight: bold;
	box-shadow: unset;
}

.bootstart-admin-footer{
	border-top: 2px solid gray;
	margin-top: 20px;
	padding: 10px;
	padding-top: 20px;
}

.bootstart-admin-footer span a{
	text-decoration: none;
	color: white;
}

.vbl-documents-manager-shortcode-table{
	margin: 10px;
	padding: 10px;
}

.vbl-documents-manager-shortcode-table td{
	margin: 5px;
	padding: 5px;
}

.vbl-documents-manager-shortcode-table-shortcode{
	font-weight: bold;
	font-size: 120%;
}

.bootstart-admin-footer ul li{
	display: inline-block;
	margin: 5px;
	padding: 15px;
}

.bootstart-admin-footer ul li a{
	text-decoration: none;
}

.fmp_extend{
	background-color: #31A6CB;
	color: white;
}

.fmp_extend a{
	color: white;
}

.fm_permission_system_advert img{
	width: 25%;
	border: 2px solid cyan;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	margin-bottom: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fm_permission_system_advert span{
	width: 100%;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

input[type=checkbox]
{
  -webkit-appearance:checkbox !important;
}

input[type=radio]
{
  -webkit-appearance:radio !important;
}

.footer-sticky-button{
	background: none;
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;
	background-color: #B10C0C;
	padding: 10px;
	border-radius: 5px;
}

.footer-sticky-button a{
	text-decoration: none;
	color: white;
	font-size: 1.1em;
}

/*	Donation Area */
.donation{
	bottom: 0;
	float: left;
	z-index: 100;
	border-radius: 5px;
	position:fixed;
	background-color: #B10C0C;
}
/* End Of Donation Area */

/*Editor Font Re-fix*/
.ui-widget textarea {
    font-family: Verdana,Arial,sans-serif,Trebuchet MS,Tahoma;
    font-size: 1.3em;
		background-color: #f0f0f0;
		padding:10px;
		text-align:left;
}
/*Editor Font Re-fix*/

.bootstart-admin-content{
	max-width: 73%;
	min-width: 73%;
	margin-right: 2%;
	float: left;
	display: inline-block;
}

.bootstart-admin-sidebar{
	max-width: 22%;
	min-width: 22%;
	display: inline-block;
	min-height: 480px;
	padding-top: 18px;
}

.sidebar-highlight{
	text-align: center;
	color: #B10C0C;
	padding: 10px 0px 10px 0px;
	font-size: 1.2em;
	border-bottom: 2px solid #B10C0C;
}

.sidebar-highlight ul li{
	border-bottom: 1px solid #B10C0C;
}

.badge-pro{
	position: relative;
}

.badge-pro[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size: 1em;
   background:#B10C0C;
   color:white;
   width:24px;
   height:24px;
   text-align:center;
   line-height:24px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.badge-free{
	position: relative;
}

.badge-free[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size: 1em;
   background: white;
   color: black;
   width:24px;
   height:24px;
   text-align:center;
   line-height:24px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}
